html{
  background-image:url(http://ibin.co/2YsLzZbkZlHV);
}

h1{
  color:white;
  text-shadow: 5px 2px black;
  font-size:2em;
  margin-bottom:100px;
}

section{
margin-top:-30px;
margin-left:10px;
}

.test{
  height:30px;
  width:100px;
}

#results1, #results2, #headings{
  color: white;
  font-weight: bold;
  font-size: 2em;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid white;
}